<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Информация</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Изучи проблему глобального потепления!</h1>
      <p>Будь осведомлённым(ной)</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Узнай, чем ты сможешь помочь планете?</h2>
    <br>
    <h2>1. Чаще пользоваться общественным транспортом</h2>
    <h3>Выбор средств передвижения в городе оказывает заметное воздействие на уровень выбросов парниковых газов. Вы можете отказаться от личной автомашины в пользу ходьбы, езды на велосипеде или общественного транспорта.
        
        Доктор Дебра Робертс, один из сопредседателей МГЭИК, говорит: "Если у вас не развит общественный транспорт, вы как избиратель можете вмешаться и отдать свой голос политикам, которые выступают за его развитие".
        
        Если у вас нет иного выбора, кроме использования автомобиля, выбирайте электромобили, а в дальние поездки отправляйтесь на поезде, а не на самолете.

        Откажитесь от очередной командировки и замените ее видеоконференцией.</h3>
    <br>
    <br>
    <h2>2. Экономить энергию</h2>
    <h3>Сушите постиранное белье на веревке, а не в электросушилке.

        Выставляйте на термостате системы отопления более низкую температуру включения.
        
        Установите термоизоляцию на чердаке и под крышей для уменьшения потерь тепла в зимний период.
    
        Отключайте от сети электроприборы, которыми вы не пользуетесь.
        
        Рассмотрите возможность установки энергосберегающих систем, например, солнечного водонагревателя.
    
        Эти меры могут показаться тривиальными, но на самом деле они могут сэкономить много энергии.</h3>
    <br>
    <br>
    <h2>3. Сократить потребление мяса</h2>
    <h3>Производство мяса влечет за собой значительно более масштабные выбросы парниковых газов, чем производство курятины, выращивание овощей, фруктов и зерновых культур.

        Но вы лично можете многое сделать. Сократите потребление мяса в пользу овощей и фруктов. Если этого трудно добиться, попробуйте раз в неделю не есть мяса.
        
        Стоит также сократить потребление молочных продуктов, производство и перевозка которых сопровождается значительными выбросами углекислого газа.
        
        Старайтесь приобретать местные и сезонные продукты питания и сократите объем выбрасываемой еды.</h3>
    <h2> <a target="_blank" href="https://www.bbc.com/russian/features-45795487"><Подробнее></a></h2>
    <br>
    <br>
    <ul class="list">
      <li class="list__item">
        <a href="/">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>Главная страница</span></a>
      <!--  -->
      </li>
      <li class="list__item">
        <a href="info">
        <img class="item__img" src="../static/img/light.svg" alt="home">
        <span>Узнать о проблеме</span></a>
      </li>
    </ul>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
